@model IEnumerable<DAL.Models.KbcPersona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.perRut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perMail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.perRut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perMail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.perId }) |
            @Html.ActionLink("Details", "Details", new { id=item.perId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.perId })
        </td>
    </tr>
}

</table>
